<!DOCTYPE html>
<html >
<head>
	<title>Angular_directives</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
      
	
		#box{
			border: 1px solid black;
            width: 30%;
            height: 30px;
            display: block;
            text-align:center;
            background-color:cadetblue;
		}
		
		h2
		{
			font-family: 'Montserrat';
		}
	
	</style>
</head>
<body ng-app="FirstApp">
    <p>Submission Practical_9 <br><i>By Sunidhi (18BCE239)</i></p>
    <h1>Angular Directives</h1>
    <h3> Use of ng-model</h3>

	<div ng-app >
		Enter Name : 
		<input type="text" ng-model="fullname" /><br><br>
        Enter Age :
		<input type="text" ng-model="age"/><br><br>
		
		Enter Date of Birth :
        <input type="text" ng-model="dob"/><br><br>
        
        Enter Gender :
		<input type="text" ng-model="gender" placeholder="female"/><br><br>
		
		<div ng-app>
			Name : {{fullname}}<br>
            Age : {{age}}<br>
            Date of Birth : {{dob}}<br>
			Gender : {{gender}}<br>
			
		</div>
		
	</div>
	
	<h1>Angular Directives</h1>
    <h3> Use of ng-bind</h3>
	
	<div ng-app >
		Enter Name : 
		<input type="text" ng-model="name_" /><br><br>
		
        Enter email:
        <input type="text" ng-model="mail_"/><br><br>
		Enter Date of Birth :
        <input type="text" ng-model="dob_" /><br><br>
        Enter Age :
		<input type="text" ng-model="age_" /><br><br>
		Enter Gender :
		<input type="text" ng-model="gender_" /><br><br>
		
		<div ng-app>
			Name : <span ng-bind="name_"></span><br>
			Age : <span ng-bind="age_"></span>{{age_}}<br>
			Gender : <span ng-bind="gender_"></span>{{gender_}}<br>
            Date of Birth : <span ng-bind="dob_"></span>{{dob_}}<br>
            Email : <span ng-bind="mail_"></span>{{mail_}}<br>
		</div>
		
	</div>
    
    <h1>Angular Directives</h1>
    <h3> Use of ng-repeat</h3>
	
	<p>Intrest Area :</p>
	<div  ng-app="" ng-init="Domains=['Computer Vision','Machine Learning','Block Chain''Coding','Managment','Planning']">
		<ol>
			<li id="box" ng-repeat="domain in Domains">
				{{domain}}
			</li>
		</ol>
		
	</div>
</body>